.playing-card {
    background: rgb(250, 250, 250);
    width: 10vw;
    border-radius: 10px;
    display: flex;
    min-width: 100px;
    max-width: 130px;
}

.playing-card:before {
    content: "";
    display: block;
    padding-top: 70%;
    padding-bottom: 70%;
}

.card-border {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: repeating-linear-gradient(223deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 0px, transparent 2px);
    background-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}